@{
    ViewData["Title"] = "Acid_Neutralization";         
}

<h1 class="display-2 align-items-center">Neutralization of Acidic of Samples</h1>
<br>
<form asp-action="Acid_Neutralization" asp-controller="Home">
    <div class="container pb-3 " style="background-color:rgba(238, 142, 193, 0.726);"> 
        <p class="text-center fs-2">Batch Weight or Volume and Density</p>
        <div class="row align-items-start">
            <div class="col">
                <label for="batchWeight" class="form-label">Batch Weight</label>
                <input type="number" class="form-control" id="batchWeight" name="weightBatch" step="0.0001" min="0" 
                    value=@ViewData["weightBatch"] title="Up to Four Decimal Places">
            </div>
            <div class="col">
                <label for="weightUnit" class="form-label">Unit of Sample</label>
                <select class="form-select" aria-label="Weight unit" name="weightUnit" id="weightUnitSelection" >
                    <option value="kg" selected>Kilograms</option>
                    <option value="lbs" >Pounds</option>
                </select>
            </div>        
        </div>
        <br>
        <div class="row align-items-center">
            <div class="col">
                <label for="volumeValue" class="form-label">Batch Volume</label>
                <input type="number" class="form-control" id="volumeValue" name="volumeValue" step="0.0001" min="0" 
                    value=@ViewData["volumeValue"] title="Up to Four Decimal Places">
            </div>
            <div class="col">
                <label for="volumeUnit" class="form-label">Unit of Volume</label>
                <select class="form-select" aria-label="volume unit" name="volumeUnit" id="volumeUnitSelection" >
                    <option value="gallons">Gallons</option>
                    <option value="liters" selected>Liters</option>
                </select>
            </div>         
        </div>
        <div class="row align-items-end">
            <div class="col">
                <label for="densityValue" class="form-label">Batch Density</label>
                <input type="number" class="form-control" id="densityValue" name="densityValue" Value step="0.0001" min="0" 
                    value=@ViewData["densityValue"] title="Up to Four Decimal Places">
            </div>
        <div class="col">
            <label for="densityUnit" class="form-label">Density Unit</label>
            <select class="form-select" aria-label="density unit" name="densityUnit" id="densityUnitSelection" >
                <option value="kPerMeter">Kg/m³</option>
                <option value="gPerCM" selected>g/cm³</option>
                <option value="poundsGallons">lb/gal</option>
            </select>        
        </div>      
    </div>
    <div class="row align-items-start">
            <div class="col">
                <label for="acidNumber" class="form-label">Acid Number (mg KOH/g)</label>
                <input type="number" class="form-control" id="acidNumber" name="acid" step="0.0001" min="0" 
                    value=@ViewData["acid"] title="Up to Four Decimal Places">
            </div>
                <div class="col">
                <label for="equiv" class="form-label">Equivilance</label>
                <input type="text" class="form-control" id="equiv" name="equiv"   
                    value="" title="Up to Four Decimal Places" disabled>
            </div>        
    </div>
    <div class="row align-items-end">
            <div class="col">
                <label for="mol" class="form-label">Molecular Weight Neutralization</label>
                <input type="number" class="form-control" id="mol" name="molWeight" step="0.0001" min="0" 
                    value=@ViewData["molWeight"] title="Up to Four Decimal Places">
            </div>
                <div class="col">
                <label for="conc" class="form-label">Concentatration (%)</label>
                <input type="text" class="form-control" id="conc" name="conc"   
                    value=@ViewData["conc"] title="Up to Four Decimal Places">
            </div>        
    </div>     
        <button type="submit" class="btn btn-primary .btn-lg w-100">SUBMIT</button>
    </div>
</form>
<p>@ViewData["happy"]</p>


@section scripts{
    <script>
         $('#weightUnitSelection').change(function(event){
            var selectedcategory = $(this).children("option:selected").val();
            sessionStorage.setItem("itemName",selectedcategory);
            });
        $('select').find('option[value='+sessionStorage.getItem('itemName')+']').attr('selected','selected');
    </script>
    <script>
         $('#volumeUnitSelection').change(function(event){
            var selectedcategory = $(this).children("option:selected").val();
            sessionStorage.setItem("itemName",selectedcategory);
            });
        $('select').find('option[value='+sessionStorage.getItem('itemName')+']').attr('selected','selected');
    </script>
    <script>
         $('#densityUnitSelection').change(function(event){
            var selectedcategory = $(this).children("option:selected").val();
            sessionStorage.setItem("itemName",selectedcategory);
            });
        $('select').find('option[value='+sessionStorage.getItem('itemName')+']').attr('selected','selected');
    </script>          
}
