@{
    ViewData["Title"] = "Thermal_Expansion";         
}
<form>
    <div class="row align-items-start">
        <div class="col">
            <label for="densityUnit" class="form-label">Density Unit</label>
            <select class="form-select" aria-label="density unit" name="densityUnit" id="densityUnit">
                <option selected>----</option>
                <option value="kPerMeter">Kg/m³</option>
                <option value="gPerCM">g/cm³</option>
                <option value="poundsgallons">lb/gal</option>
            </select>
        </div>
        <div class="col">
            <label for="TempUnit" class="form-label">Temperature Unit</label>
            <select class="form-select" aria-label="container unit temp" name="TempUnit" id="TempUnit">
                <option selected>----</option>
                <option value="celcius">&deg;C</option>
                <option value="fahrenheit">&deg;F</option>
            </select>
        </div>         
        <div class="col">
            <label for="containerUnit" class="form-label">Volume Unit</label>
            <select class="form-select" aria-label="container unit" name="containerUnit" id="containerUnit">
                <option selected>----</option>
                <option value="liters">Liters</option>
                <option value="gallons">Gallons</option>
            </select>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <label for="densityOne" class="form-label">First Density Reading</label>
            <input type="number" class="form-control" id="densityOne" name="densityOne" step="0.01" min="0">
        </div>
        <div class="col">
            <label for="firstTemp" class="form-label">First Temp Reading</label>
            <input type="number" class="form-control" id="firstTemp" name="firstTemp">
        </div>
        <div class="col">
            <label for="containerTemp" class="form-label">Max Storage Temp</label>
            <input type="number" class="form-control" id="containerTemp" name="containerTemp">
        </div>           
    </div>   
    <div class="row align-items-end">
        <div class="col">
            <label for="densityTwo" class="form-label">Second Density Reading</label>
            <input type="number" class="form-control" id="densityTwo" name="densityTwo" step="0.01" min="0">
        </div> 
        <div class="col">
            <label for="secondTemp" class="form-label">Second Temp Reading</label>
            <input type="number" class="form-control" id="secondTemp" name="secondTemp">
        </div>  
        <div class="col">
            <label for="containerSize" class="form-label">Container Size</label>
            <input type="number" class="form-control" id="containerSize" min="0" name="containerSize">
        </div>                 
    </div>
</form>
