@{
    ViewData["Title"] = "About";
}

<div>
    
    <a href="https://www.weather.gov/documentation/services-web-api" class="btn btn-outline-primary" role="button">National Weather Service API</a>
    <a href="https://www.epa.gov/tsca-inventory/how-access-tsca-inventory" class="btn btn-outline-primary" role="button">TSCA List August 2023</a>
    <a href="https://github.com/CharlesRCrow/CSharp/tree/main/TSCASEARCHWEB" class="btn btn-outline-primary" role="button">Source Code</a>
</div>